<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<script>
    var fade_out = function() {
        $("#myWord").fadeOut().empty();
    }
    if ({{ templateFadeout }} > 0) {
        setTimeout(fade_out, {{ templateFadeout }});
    }
</script>

{% extends "layout.html" %}

{% block content %}

<h1 id=myWord>{{ word }}</h1>

<br>

<table style="width: 50%; margin-left: auto; margin-right: auto;" cellpadding="6">
<tbody>
<tr>
<td style="text-align: right;">&nbsp;
    <form action="{{ url_for('same_word', code=templateCode, config=templateConfig, score=templateScore, fadeout=templateFadeout, capitalize=templateCapitalize) }}">
        <button class = "button-failure">x</button>
    </form>
</td>
<td style="text-align: center;">&nbsp;
    <h2>{{ templateScore }}</h2>
</td>
<td style="text-align: left;">&nbsp;
    <form action="{{ url_for('next_word', config=templateConfig, score=templateScore, fadeout=templateFadeout, capitalize=templateCapitalize) }}">
        <button class = "button-success">>></button>
    </form>
</td>
</tr>
</tbody>
</table>

{% endblock %}