{% extends "layout.html" %}
{% block content %}
<h1>random word generator</h1>
<br>
<form action = "/" method = "post">
    <table class="center">
        <tr><td>config</td><td><input type = "text" name = "config" /></td></tr>
        <tr><td>visible for</td><td><input type="number" name="fadeout" min="0" max="10" step="0.25" value="0"/></td></tr>
        <tr><td>make QR code</td><td><input type = "checkbox" name = "qr" /></td></tr>
    </table>
    <br>
    <input type = "submit" id = "button" value = "start"/>
</form>
{% endblock %}