<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">


<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    #footer {
        position: fixed;
        padding: 1em 1em 0em 1em;
        bottom: 0;
        width: 97%; 
        height: 2em;
        background: lightsteelblue;
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: navy;
        font-size: 64pt;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .right {
        float:right;
    }

    .left {
        float:left;
    }

    #button {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 2em;
        margin-right: 2em;
        font-size: 32pt;
    }
</style>

<body>
    <div id = "container">
        {% block content %}{% endblock %}
        <div id = "footer">
            <span class="left">
                author: sjp
            </span>
            <span class="right">
                source: <a href="https://github.com/basegpu/random-word-generator.git">github</a>
            </span>
        </div>
    </div>
</body>